.grid-custom {
    width: 100%;
}

.react-grid-item {
    border-style: solid;
    border-color: lightgray;
    border-radius: 5px;
    border-width: 1px;
}

.ad {
    /* background-color: lightcoral; */
    width: inherit;
    object-fit: cover;
    height: inherit;
}
